<div class="container">
  <br>
  <mat-card class="example-card">
    <h3 class="text-center">Add Post</h3>
    <form [formGroup]="addPostForm" #oiForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="col-md-12">
        <!-- Image code  -->
        <div class="mx-auto">
          <img [src]="imgURL" *ngIf="imgURL">
          <img [src]="image" *ngIf="!imgURL">
        </div>
        <div class="PreviewImage">
          <input #file type="file" hidden="true" accept='image/*' formControlName="Image" required mat-flat-button
            (change)="preview(file.files)" />
          <a mat-flat-button color="primary" style="text-decoration: none;" (click)="file.click()">Choose Image to
            Post</a>
          <mat-error class="text-center" *ngIf="addPostForm.hasError('required','Image') && oiForm.submitted">
            Image is required
          </mat-error>
        </div>
        <hr>
        <!-- Image code end  -->
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput formControlName="Title" required />
          <mat-error *ngIf="f.Title.errors && f.Title.touched">
            <div *ngIf="f.Title.errors.required">Title is required</div>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <input matInput formControlName="Description" required />
          <mat-error *ngIf="f.Description.errors && f.Description.touched">
            <div *ngIf="f.Description.errors.required">Description is required</div>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>HashTag</mat-label>
          <mat-chip-list #chipList aria-label="Fruit selection">
            <mat-chip *ngFor="let fruit of fruits" color="primary" selected [removable]="removable"
              (removed)="remove(fruit)">
              {{fruit.name}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input [matChipInputFor]="chipList" matInput formControlName="HashTag"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-center">
        <button class="btn btn-success">
          {{ btnText }}
        </button>
      </div>
    </form>
  </mat-card>
  <br>
  <br>
</div>